##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2023 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################

#Essential Services required for framework running in DUT
services=("apparmor.service"
 "audiocapturemgr.service" 
 "bluetooth.service" 
 "busybox-syslog.service" 
 "iarmbusd.service"
 "ip-iface-monitor.service" 
 "irmgr.service"  
 "lighttpd.service" 
 "netsrvmgr.service" 
 "network@eth0.service" 
 "network@wlan0.service"
 "nlmon.service"
 "pwrmgr.service" 
 "rmfstreamer.service" 
 "sysmgr.service" 
 "tr69hostif.service"
 "wpeframework.service" 
 "xupnp.service"
 "dropbear@0"
 )

#Essential Processes required for framework running in DUT
processes=("audiocapturemgr"
 "mfrMgrMain" 
 "sysMgrMain" 
 "dsMgrMain"
 "irMgrMain" 
 "pwrMgrMain" 
 "systemd" 
 "netsrvmgr"
 "WPEFramework"
 "wpa_supplicant"
 "rmfStreamer"
 "WPEWebProcess" 
 "xdiscovery"
 )

#Essential Logfiles required for framework running in DUT
LOG_FILES=("/opt/logs/nlmon.log"
 "/opt/logs/netsrvmgr.log" 
 "/opt/logs/startup_stdout_log.txt" 
 "/opt/logs/startup_stdout_log.txt"
 "/opt/logs/rebootreason.log"
 "/opt/logs/iptables.log" 
 "/opt/logs/uimgr_log.txt"
 "/etc/wpa_supplicant.conf"
 )

#Eth_Wifi Togggle Functionality
#Add user Specific SSID and PASSWORD
ssid=
password=
wpa_supplicant_file_path=/etc/wpa_supplicant.conf
security=

#Validate RDK6 component versions with the Config file in the DUT
kernel_version=5.10.52
Gstreamer_version=1.18.5
wpa_supplicant_version=2.9
Glibc_version=2.31.so
Openssl_version=1.1.1
dbus_daemon_version=1.12.16
bluetoothctl_version=5.48
systemd_version=244
apparmor_version=2.13.4
YOCTO_VERSION=3.1
Lightning_version=2.8.1
Browser_WPEWebkit_version=2.38

#Unknown keypress check
device_name=
timeout_seconds=300

#Binary files update checker
SEARCH_PATHS="/usr/lib,/lib/rdk,/lib,/usr/bin"

#Storage fill check before after reboot
max_usage_percentage=100
destination_path=
download_url=
log_file="/opt/logs/wpeframework.log"

#Logfile Path for Sanity Reboot test cases
LOGFILE_PATH=/opt

#Continuously Monitor CPU Usage for given time in background
#Threshold for high CPU usage (in percentage)
high_cpu_threshold=80
#Interval to check CPU usage (in seconds)
check_interval=
#Total duration for script execution (in seconds)
total_duration=

#Validate Plugin support in DUT
#Directory where plugin-JSON files are located
directories_to_test="/etc/WPEFramework/plugins"
#Configure the IP address and port for curl response
api_url_ip="127.0.0.1"
api_url_port="9998"


